## Editor crap
.projectile
*\#
*~
*.swap

## Lots of ISE crap
_xmsgs/
xst/
work/
isim/
*_summary.html
*.bgn
*.bld
*.cmd_log
*.drc
*.gise
*.lso
*.lst
*.map
*.mrp
*.ncd
*.ncf
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.projectmgr
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xbcd
*.xpi
*.xreport
*.xrpt
*.xst
*.exe
*.cmd
*.log
*.cfg
*.fdo
*.ini
transcript
*.wlf
*.version
*.wdb
*.udo
*.xmsgs



## Project specific
